# „Éá„Éº„ÇøÊï¥ÂΩ¢

In [ ]:
import pandas as pd
from glob import glob

In [ ]:
# „Éï„Ç©„É´„ÉÄÂÜÖ„ÅÆ„Éï„Ç°„Ç§„É´ÈÅî„ÇíÂèñÂæó

filepaths_order = glob('sources/order_new/order*.xlsx')
filepaths_order

['sources/order_new/order_C_20210203.xlsx',
 'sources/order_new/order_D_20210203.xlsx',
 'sources/order_new/order_A_20210203.xlsx',
 'sources/order_new/order_B_20210203.xlsx']

In [ ]:
filepath = filepaths_order[0]
filepath

In [ ]:
# excel„Éï„Ç°„Ç§„É´„ÇíDFÂåñ

df_order = pd.read_excel(filepath)
df_order

   ÁÑºÈÖé  ÁôΩ„ÉØ„Ç§„É≥  „Éñ„É©„É≥„Éá„Éº
0   8    18      2

In [ ]:
# DF„Åã„ÇâÂøÖË¶ÅÈÉ®ÂàÜ„ÇíÊäΩÂá∫„Åó„Å¶„ÄÅDict„Å®„Åó„Å¶ÊÉÖÂ†±„Çí„Åæ„Å®„ÇÅ„Åü„ÅÑ

df_order.to_dict().items()

dict_items([('ÁÑºÈÖé', {0: 8}), ('ÁôΩ„ÉØ„Ç§„É≥', {0: 18}), ('„Éñ„É©„É≥„Éá„Éº', {0: 2})])

In [ ]:
from collections import defaultdict

In [ ]:
# ÊÉÖÂ†±„Åæ„Å®„ÇÅ„ÇãÁî®„ÅÆDictÁî®ÊÑè„ÄÇacc

order = defaultdict(int)

In [ ]:
# value„Åådict„Å´„Å™„Å£„Å¶„ÅÑ„Å¶„ÄÅ„Åï„Çâ„Å´„Åù„ÅÆvalueÈÉ®ÂàÜ„ÅÆÂÄ§„ÇíÂèñÂæó„Åô„Çã„Å´„ÅØÔºü

for key, value in df_order.to_dict().items():
    order[key] += value[0]
    print(value[0])

8
18
2

In [ ]:
# accÁî®dict„Å´ÊÉÖÂ†±ÈõÜ„Åæ„Çã

order

defaultdict(int, {'ÁÑºÈÖé': 8, 'ÁôΩ„ÉØ„Ç§„É≥': 18, '„Éñ„É©„É≥„Éá„Éº': 2})

In [ ]:
filepath = filepaths_order[1]
df_order = pd.read_excel(filepath)
df_order

   ÁÑºÈÖé  Ëµ§„ÉØ„Ç§„É≥  ÁôΩ„ÉØ„Ç§„É≥
0   3     4     6

In [ ]:
for key, value in df_order.to_dict().items():
    order[key] += value[0]

3
4
6

In [ ]:
order

defaultdict(int, {'ÁÑºÈÖé': 11, 'ÁôΩ„ÉØ„Ç§„É≥': 24, '„Éñ„É©„É≥„Éá„Éº': 2, 'Ëµ§„ÉØ„Ç§„É≥': 4})

# üí° ÈõÜË®àÊ∏à„Åø„Éï„Ç°„Ç§„É´„ÇíÂà•„Éï„Ç©„É´„ÉÄ„Å´ÁßªÂãï

In [ ]:
import os
import shutil

In [ ]:
os.listdir('sources/order_new/')

['order_C_20210203.xlsx',
 'order_D_20210203.xlsx',
 'order_A_20210203.xlsx',
 'order_B_20210203.xlsx']

In [ ]:
os.listdir('sources/order_old/')

['.DS_Store']

In [ ]:
filepath = filepaths_order[0]
shutil.move(filepath, 'sources/order_old/')

'sources/order_old/order_C_20210203.xlsx'

## ‰ªä„Åæ„Åß„ÅÆÊµÅ„Çå„ÇíÈñ¢Êï∞Âåñ

In [ ]:
def update_order(order, filepath):
    # Ê≥®ÊñáË°®Ë™≠„ÅøËæº„Åø
    df_order = pd.read_excel(filepath)
    for key, value in df_order.to_dict().items():
        order[key] += value[0]
    # „Éï„Ç°„Ç§„É´„ÅÆÁßªÂãï
    shutil.move(filepath, 'sources/order_old/')
    return order

In [ ]:
# „Éï„Ç©„É´„ÉÄÂÜÖ„ÅÆ„Åô„Åπ„Å¶„ÅÆ„Éï„Ç°„Ç§„É´„ÇíÈõÜË®à„Åô„Çã„ÄÇ

order = defaultdict(int)

for filepath in filepaths_order:
    order = update_order(order, filepath)

In [ ]:
order

defaultdict(int,
            {'ÁÑºÈÖé': 16.0,
             'ÁôΩ„ÉØ„Ç§„É≥': 54.0,
             '„Éñ„É©„É≥„Éá„Éº': 2,
             'Ëµ§„ÉØ„Ç§„É≥': 4,
             '„Ç¶„Ç£„Çπ„Ç≠„Éº': 7.0,
             'Áº∂„ÉÅ„É•„Éº„Éè„Ç§': 23,
             'Unnamed: 3': nan,
             'Unnamed: 4': nan,
             'Unnamed: 5': nan,
             'Unnamed: 6': nan,
             'Unnamed: 7': nan,
             'Unnamed: 8': nan})

In [ ]:
# Âú®Â∫´Ë°®„ÇíDFÂåñ

filepath_stock = 'sources/stock.xlsx'
df_stock = pd.read_excel(filepath_stock)

df_stock.tail(3)

           Êó•‰ªò   ÊõúÊó•  Êó•Êú¨ÈÖí  ÁÑºÈÖé  Ëµ§„ÉØ„Ç§„É≥  ÁôΩ„ÉØ„Ç§„É≥  „Ç¶„Ç£„Çπ„Ç≠„Éº  „Éñ„É©„É≥„Éá„Éº  Áº∂„ÉÅ„É•„Éº„Éè„Ç§
10 2021-02-04  Thu   99  66    77   107     31     37     149
11 2021-02-05  Fri   78  62    55    92     41     30     121
12 2021-02-06  Sat   66  48    38    70     31     18      98

#### Tips: DFÂêåÂ£´„ÅÆË®àÁÆó

In [ ]:
pd.DataFrame([[10, 4, 6]])

    0  1  2
0  10  4  6

In [ ]:
pd.DataFrame([[5, 1, 10]])

   0  1   2
0  5  1  10

In [ ]:
pd.DataFrame([[10, 4, 6]]) - pd.DataFrame([[5, 1, 10]])

   0  1  2
0  5  3 -4

In [ ]:
# DF„ÅÆÂøÖË¶Å„Å™Ë°å„ÉªÂàó„ÅÆ„ÅøÊäΩÂá∫

stock = df_stock.iloc[-1:, 2:]
stock

    Êó•Êú¨ÈÖí  ÁÑºÈÖé  Ëµ§„ÉØ„Ç§„É≥  ÁôΩ„ÉØ„Ç§„É≥  „Ç¶„Ç£„Çπ„Ç≠„Éº  „Éñ„É©„É≥„Éá„Éº  Áº∂„ÉÅ„É•„Éº„Éè„Ç§
12   66  48    38    70     31     18      98

In [ ]:
# ÂÖÉ„ÅÆorder„ÅØdefaultdictÂûã„Å™„ÅÆ„Åß„ÄÅDFÂ§âÊèõ
# „Åü„Å†„Åó„Åì„ÅÆ„Åæ„Åæ„Å†„Å®Âàó„ÅÆÈ†ÜÁï™„Éê„É©„Éê„É©„Éª„ÅÑ„Çâ„Å™„ÅÑÂàóÂÖ•„ÇäËæº„Çì„Åß„ÅÑ„Çã„ÄÇ„ÄÇ„ÄÇ

order = pd.DataFrame(order, index=[0])
order

,ÁÑºÈÖé,ÁôΩ„ÉØ„Ç§„É≥,„Éñ„É©„É≥„Éá„Éº,Ëµ§„ÉØ„Ç§„É≥,„Ç¶„Ç£„Çπ„Ç≠„Éº,Áº∂„ÉÅ„É•„Éº„Éè„Ç§,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,16.0,54.0,2,4,7.0,23,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Ë®àÁÆóÁõ∏Êâã„ÅÆ„Ç´„É©„É†ÊßãÈÄ†‰ººÂêà„Çè„Åõ„Çã

order = pd.DataFrame(order, index=[0], columns=stock.columns)

In [ ]:
order

   Êó•Êú¨ÈÖí    ÁÑºÈÖé  Ëµ§„ÉØ„Ç§„É≥  ÁôΩ„ÉØ„Ç§„É≥  „Ç¶„Ç£„Çπ„Ç≠„Éº  „Éñ„É©„É≥„Éá„Éº  Áº∂„ÉÅ„É•„Éº„Éè„Ç§
0  NaN  16.0     4  54.0    7.0      2      23

In [ ]:
# NaN„Çí0„ÅßË£úÈñì„Åô„Çã

order = order.fillna(0)
order

   Êó•Êú¨ÈÖí    ÁÑºÈÖé  Ëµ§„ÉØ„Ç§„É≥  ÁôΩ„ÉØ„Ç§„É≥  „Ç¶„Ç£„Çπ„Ç≠„Éº  „Éñ„É©„É≥„Éá„Éº  Áº∂„ÉÅ„É•„Éº„Éè„Ç§
0  0.0  16.0     4  54.0    7.0      2      23

In [ ]:
# Ë®àÁÆó„Åó„Å¶„Åø„Çã„Å®„ÄÅÂ§â„Å™ÁµêÊûú„Å´„Å™„Çã„ÄÇ„ÄÇ„ÄÇ
# Ë°åÁï™Âè∑„Åå„Åä„Åã„Åó„ÅÑ„Åã„Çâ

stock - order

    Êó•Êú¨ÈÖí  ÁÑºÈÖé  Ëµ§„ÉØ„Ç§„É≥  ÁôΩ„ÉØ„Ç§„É≥  „Ç¶„Ç£„Çπ„Ç≠„Éº  „Éñ„É©„É≥„Éá„Éº  Áº∂„ÉÅ„É•„Éº„Éè„Ç§
0   NaN NaN   NaN   NaN    NaN    NaN     NaN
12  NaN NaN   NaN   NaN    NaN    NaN     NaN

In [ ]:
# Ë°åÁï™Âè∑„É™„Çª„ÉÉ„Éà

stock = stock.reset_index(drop=True)

In [ ]:
# „Çà„ÅÜ„ÇÑ„ÅèË®àÁÆó„Åß„Åç„Çã
# updated :
#   <DF>
#   ÂêÑÂ∫óËàó„Å´Áô∫ÈÄÅ„Åó„Åü„ÅÇ„Å®„ÅÆÂú®Â∫´Êï∞

updated = stock - order
updated

    Êó•Êú¨ÈÖí    ÁÑºÈÖé  Ëµ§„ÉØ„Ç§„É≥  ÁôΩ„ÉØ„Ç§„É≥  „Ç¶„Ç£„Çπ„Ç≠„Éº  „Éñ„É©„É≥„Éá„Éº  Áº∂„ÉÅ„É•„Éº„Éè„Ç§
0  66.0  32.0    34  16.0   24.0     16      75

# Ê≥®Êñá„ÅåÂøÖË¶Å„Å™ÂïÜÂìÅ„ÇíÊ¥ó„ÅÑÂá∫„Åó

In [ ]:
# master„Å´„ÄÅÈñæÂÄ§„ÉªËøΩÂä†ÈáèÊÉÖÂ†±„ÅåË®òËºâ„Åó„Å¶„ÅÇ„Çã
# Ë™≠„ÅøËæº„Çì„ÅßDF

filepath_master = 'sources/master.xlsx'
df_master = pd.read_excel(filepath_master)
df_master

  Unnamed: 0  Êó•Êú¨ÈÖí  ÁÑºÈÖé  Ëµ§„ÉØ„Ç§„É≥  ÁôΩ„ÉØ„Ç§„É≥  „Ç¶„Ç£„Çπ„Ç≠„Éº  „Éñ„É©„É≥„Éá„Éº  Áº∂„ÉÅ„É•„Éº„Éè„Ç§
0         ÈñæÂÄ§   30  20    20    20     30     10      40
1        ËøΩÂä†Èáè  100  80   100   100     80     80     120

In [ ]:
threshold = df_master.iloc[:1 , 1:]
threshold

   Êó•Êú¨ÈÖí  ÁÑºÈÖé  Ëµ§„ÉØ„Ç§„É≥  ÁôΩ„ÉØ„Ç§„É≥  „Ç¶„Ç£„Çπ„Ç≠„Éº  „Éñ„É©„É≥„Éá„Éº  Áº∂„ÉÅ„É•„Éº„Éè„Ç§
0   30  20    20    20     30     10      40

In [ ]:
updated

    Êó•Êú¨ÈÖí    ÁÑºÈÖé  Ëµ§„ÉØ„Ç§„É≥  ÁôΩ„ÉØ„Ç§„É≥  „Ç¶„Ç£„Çπ„Ç≠„Éº  „Éñ„É©„É≥„Éá„Éº  Áº∂„ÉÅ„É•„Éº„Éè„Ç§
0  66.0  32.0    34  16.0   24.0     16      75

In [ ]:
# ÈñæÂÄ§„Çí‰∏ãÂõû„Å£„Å¶„ÅÑ„ÇãÂïÜÂìÅ„ÇíÊäΩÂá∫„Åó„Å¶„ÄÅ
# NaN„ÇíÂâäÈô§„Åó„Å¶
# ÂïÜÂìÅÂêç„Å†„Åë„ÇíÂèñÂæó„Åô„Çã

shortage_columns = updated[updated < threshold].dropna(axis=1).columns
shortage_columns

Index(['ÁôΩ„ÉØ„Ç§„É≥', '„Ç¶„Ç£„Çπ„Ç≠„Éº'], dtype='object')

In [ ]:
# master„Åã„Çâ‰∏çË∂≥ÂïÜÂìÅ„ÅÆËøΩÂä†Èáè„ÇíÂèñÂæó„Åô„Çã

df_shortage = df_master.iloc[1:, 1:][shortage_columns]
df_shortage

   ÁôΩ„ÉØ„Ç§„É≥  „Ç¶„Ç£„Çπ„Ç≠„Éº
1   100     80

# „É°„Éº„É´‰ΩúÊàê

In [ ]:
order_text = ''

for key, value in df_shortage.to_dict().items():
    order_text += f'{key}„Çí{value[1]}Êú¨„ÄÅ'

In [ ]:
order_text

'ÁôΩ„ÉØ„Ç§„É≥„Çí100Êú¨„ÄÅ„Ç¶„Ç£„Çπ„Ç≠„Éº„Çí80Êú¨„ÄÅ'

---

‰∏ãË®ò„Éö„Éº„Ç∏„ÅßGmail„ÅÆ„Çª„Ç≠„É•„É™„ÉÜ„Ç£Âë®„Çä„ÇíÂ§âÊõ¥  
https://myaccount.google.com/u/2/security

```json
{
    "ADDRESS": "„É°„Éº„É´„Ç¢„Éâ„É¨„Çπ",
    "PASSWORD": "„Çª„Ç≠„É•„É™„ÉÜ„Ç£ÁîªÈù¢„ÅßÁô∫Ë°å„Åó„Åü„Éë„Çπ„ÉØ„Éº„Éâ",    
}
```

In [ ]:
import json
with open('sources/secret.json') as f:
    address_password = json.load(f)

In [ ]:
import smtplib
from email.mime.text import MIMEText
from email.utils import formatdate

from_addr = address_password['ADDRESS']
password = address_password['PASSWORD']

subject = 'Áô∫Ê≥®‰æùÈ†º'
body = f'‚óã‚óã„Åï„Çì„ÄÅÂú®Â∫´Êï∞„ÅåË∂≥„Çä„Å™„Åè„Å™„Å£„Å¶„Åó„Åæ„Å£„Åü„Åü„ÇÅ„ÄÅ{order_text}Áô∫Ê≥®„Åó„Å¶„Åè„Å†„Åï„ÅÑ„ÄÇ'
to_addr = ''

# SMTP„Çµ„Éº„Éê„Å´Êé•Á∂ö
smtpobj = smtplib.SMTP('smtp.gmail.com', 587)
smtpobj.starttls()
smtpobj.login(from_addr, password)

# „É°„ÉÉ„Çª„Éº„Ç∏Ôºà„É°„Éº„É´Ôºâ„ÅÆ‰ΩúÊàê
msg = MIMEText(body)
msg['Subject'] = subject
msg['From'] = from_addr
msg['To'] = to_addr
msg['Date'] = formatdate()

# ‰ΩúÊàê„Åó„Åü„É°„Éº„É´„ÇíÈÄÅ‰ø°
smtpobj.send_message(msg)
smtpobj.close()

# ÊúÄÊñ∞„ÅÆÂú®Â∫´ÊÉÖÂ†±„ÅÆÂèçÊò†

In [ ]:
from datetime import date

In [ ]:
today = date.today()

In [ ]:
# ÊõúÊó•„ÅÆÂèñÂæó

print(today.strftime('%a'))

Sun

In [ ]:
updated['Êó•‰ªò'] = today
updated['ÊõúÊó•'] = today.strftime('%a')

In [ ]:
updated

    Êó•Êú¨ÈÖí    ÁÑºÈÖé  Ëµ§„ÉØ„Ç§„É≥  ÁôΩ„ÉØ„Ç§„É≥  „Ç¶„Ç£„Çπ„Ç≠„Éº  „Éñ„É©„É≥„Éá„Éº  Áº∂„ÉÅ„É•„Éº„Éè„Ç§          Êó•‰ªò   ÊõúÊó•
0  66.0  32.0    34  16.0   24.0     16      75  2021-02-07  Sun

In [ ]:
pd.concat([df_stock, updated], sort=False).reset_index(drop=True).to_excel(filepath_stock, index=False)

In [ ]:
pd.read_excel(filepath_stock)

           Êó•‰ªò   ÊõúÊó•  Êó•Êú¨ÈÖí   ÁÑºÈÖé  Ëµ§„ÉØ„Ç§„É≥  ÁôΩ„ÉØ„Ç§„É≥  „Ç¶„Ç£„Çπ„Ç≠„Éº  „Éñ„É©„É≥„Éá„Éº  Áº∂„ÉÅ„É•„Éº„Éè„Ç§
0  2021-01-25  Mon  100   80    51    63    150     60      95
1  2021-01-26  Tue   88   73    35    38    130     50      82
2  2021-01-27  Wed   73   66   105    15    126     37      75
3  2021-01-28  Thu   50   55    96   123    114     27      43
4  2021-01-29  Fri   39   44    75    96    106     13      19
5  2021-01-30  Sat   25   31    64    88     98     10     117
6  2021-01-31  Sun  125  106    37    77     83     84      97
7  2021-02-01  Mon  120   96    34    50     69     75      67
8  2021-02-02  Tue  112   85    10    35     54     53      49
9  2021-02-03  Wed  103   74    90    19     41     44      12
10 2021-02-04  Thu   99   66    77   107     31     37     149
11 2021-02-05  Fri   78   62    55    92     41     30     121
12 2021-02-06  Sat   66   48    38    70     31     18      98
13 2021-02-07  Sun   66   32    34    16     24     16      75

# ‰∏ÄÈÄ£„ÅÆÊµÅ„Çå„Çí„Çπ„ÇØ„É™„Éó„ÉàÂåñ

In [ ]:
import pandas as pd
from glob import glob
from collections import defaultdict

import os
import shutil

import json    
import smtplib
from email.mime.text import MIMEText
from email.utils import formatdate
from datetime import date

# Ê≥®ÊñáË°®„ÅÆÈõÜË®à
def update_order(order, filepath):
    # Ê≥®ÊñáË°®Ë™≠„ÅøËæº„Åø
    df_order = pd.read_excel(filepath)
    for key, value in df_order.to_dict().items():
        order[key] += value[0]
    # „Éï„Ç°„Ç§„É´„ÅÆÁßªÂãï
    shutil.move(filepath, 'sources/order_old/')
    return order

def main():
    print('„Éº„Éº„Éº„Éº„ÉºÈñãÂßã„Éº„Éº„Éº„Éº„Éº')
    # Ê≥®ÊñáÊÉÖÂ†±„ÅÆÂèéÈõÜ
    print('Ê≥®ÊñáÊÉÖÂ†±„ÅÆÂèéÈõÜ')
    order = defaultdict(int)
    filepaths_order = glob('sources/order_new/order*.xlsx')
    for filepath in filepaths_order:
        order = update_order(order, filepath)
    print('Done')

    # ÊúÄÊñ∞„ÅÆÂú®Â∫´Èáè„ÅÆÁ¢∫Ë™ç
    print('ÊúÄÊñ∞„ÅÆÂú®Â∫´Èáè„ÅÆÁ¢∫Ë™ç')
    filepath_stock = 'sources/stock.xlsx'
    df_stock = pd.read_excel(filepath_stock)

    stock = df_stock.iloc[-1:, 2:]
    stock = stock.reset_index(drop=True)

    order = pd.DataFrame(order, index=[0], columns=stock.columns)
    order = order.fillna(0)

    updated = stock - order
    print('Done')


    # ËøΩÂä†Ê≥®ÊñáÂìÅ„ÅÆÁÆóÂá∫
    print('ËøΩÂä†Ê≥®ÊñáÂìÅ„ÅÆÁÆóÂá∫')
    filepath_master = 'sources/master.xlsx'
    df_master = pd.read_excel(filepath_master)

    threshold = df_master.iloc[:1 , 1:]
    shortage_columns = updated[updated < threshold].dropna(axis=1).columns

    df_shortage = df_master.iloc[1:, 1:][shortage_columns]

    order_text = ''
    for key, value in df_shortage.to_dict().items():
        order_text += f'{key}„Çí{value[1]}Êú¨„ÄÅ'
    print('Done')


    # Gmail„ÅßÊ≥®Êñá
    print('Gmail„ÅßÊ≥®Êñá')
    with open('sources/secret.json') as f:
        address_password = json.load(f)

    from_addr = address_password['ADDRESS']
    password = address_password['PASSWORD']

    subject = 'Áô∫Ê≥®‰æùÈ†º'
    body = f'‚óã‚óã„Åï„Çì„ÄÅÂú®Â∫´Êï∞„ÅåË∂≥„Çä„Å™„Åè„Å™„Å£„Å¶„Åó„Åæ„Å£„Åü„Åü„ÇÅ„ÄÅ{order_text}Áô∫Ê≥®„Åó„Å¶„Åè„Å†„Åï„ÅÑ„ÄÇ'
    to_addr = ''

    # SMTP„Çµ„Éº„Éê„Å´Êé•Á∂ö
    smtpobj = smtplib.SMTP('smtp.gmail.com', 587)
    smtpobj.starttls()
    smtpobj.login(from_addr, password)

    # „É°„ÉÉ„Çª„Éº„Ç∏Ôºà„É°„Éº„É´Ôºâ„ÅÆ‰ΩúÊàê
    msg = MIMEText(body)
    msg['Subject'] = subject
    msg['From'] = from_addr
    msg['To'] = to_addr
    msg['Date'] = formatdate()

    # ‰ΩúÊàê„Åó„Åü„É°„Éº„É´„ÇíÈÄÅ‰ø°
    smtpobj.send_message(msg)
    smtpobj.close()
    print('Done')


    # Âú®Â∫´Ë°®„ÅÆÊõ¥Êñ∞
    print('Âú®Â∫´Ë°®„ÅÆÊõ¥Êñ∞')
    today = date.today()
    updated['Êó•‰ªò'] = today
    updated['ÊõúÊó•'] = today.strftime('%a')

    pd.concat([df_stock, updated], sort=False).reset_index(drop=True).to_excel(filepath_stock, index=False)
    pd.read_excel(filepath_stock)
    print('„Éº„Éº„Éº„Éº„ÉºÁµÇ‰∫Ü„Éº„Éº„Éº„Éº„Éº')

if __name__ == '__main__':
    main()